# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# Custom:
*.log
*.pdf
*.gv
*.sqlite
*.sqlite-journal
db/
gv/

config.ini
trigger.run
