# This is /usr/lib/systemd/network_scanner.service
# or /etc/systemd/system/

[Unit]
Description=Extensys Network-Scanner
Documentation=https://github.com/ITSGmbH/NetworkScanner/
After=network.target syslog.target

[Service]
Type=exec
ExecStart=+/opt/network_scanner/systemd/network_scanner start scanner
ExecStop=+/opt/network_scanner/systemd/network_scanner stop scanner
RemainAfterExit=no
Restart=always
StandardOutput=journal

[Install]
WantedBy=network.target network_scannerui.service
