[Unit]
Description=Network-Discover by IT-S GmbH
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/network_discover/
ExecStart=+/opt/network_discover/network_discover
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=
Environment="NWD_SYSTEM_CONFIG=1"

[Install]
WantedBy=multi-user.target
